@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 32, 32, 32;
    --background-end-rgb: 32, 32, 32;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-x: hidden; /* Prevent horizontal scrolling */
  margin: 0;
  padding: 0;
}

.section {
  width: 100%;
  min-height: 75vh;
}

.container {
  max-width: 1200px; /* Limit the width to a maximum */
  padding: 1rem; /* Add padding for spacing */
  margin: 0 auto; /* Center the container horizontally */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

Image, canvas {
  max-width: 100%; /* Scale images and canvas to fit their containers */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Center canvas elements */
  margin: 0 auto; /* Ensure no extra margins */
}

.responsive-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto; /* Centering container */
  padding: 0 1rem; /* Add padding on smaller screens */
}

@media (max-width: 900px) {
  .responsive-container {
    padding: 0.5rem; /* Adjust padding for smaller screens */
  }
}

.text-center {
  text-align: center; /* Center text alignment */
}

.flex-center {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Responsive Grid Settings */
.grid {
  display: grid;
  gap: 1rem;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 640px) {
  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.accordion-border {
  border: 1px solid #ffffff; /* Example border color */
  border-radius: 4px; /* Optional: Rounded corners */
  padding: 10px; /* Optional: Padding inside the border */
}